.contact-info {
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  font-family: "mc";
  padding: 10px 18px;
  border-radius: 6px;
  backdrop-filter: blur(6px);
  letter-spacing: 0.15em;
}

.contact-link {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
}

.github-link {
  margin-left: 8px;
  color:rgb(255, 120, 206)
}

.linkedin-link {
  margin-left: 8px;
  color:rgb(255, 120, 206)
}

.email {
  color: rgb(253, 182, 227)
}
