.pageBg {
  width: 500px;
}

.resumeModal {
    width: 500px;
}


.resumePage {
  position: absolute;
  top: 13%;
  left: 10%;
  width: 80%;
  height: 73%;
}

.textPage {
  position: absolute;
  top: 13%;
  left: 15%;
  width: 70%;
  height: 73%;
}

.closePageButton {
    position: absolute;
    cursor: pointer;
    right: 10%;
    top: 7%;
}

.resumeFrame {
  width: 100%;
  height: 100%;
  border: none;
}

.downloadButton {
    position: absolute;
    cursor: pointer;
    top: 7%;
    left: 10%;
    padding: 0.5em 1em;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
}