body {
  background-color: #130c25;
}

.room {
  position: relative;
  width: 900px;
  margin: auto;
}

.room img {
  display: block;
}

.game-object {
  /* outline: 2px solid red; */
  position: absolute;
  cursor: pointer;
}

.game-object img {
  width: 100%;
  transition: transform 0.2s ease, filter 0.2s ease;
  animation: subtleGlow 1.5s ease-in-out infinite;
}

.game-object:hover img {
  animation: none;
  transform: scale(1.15);
  filter: drop-shadow(0 0 14px rgb(255, 129, 215));
}

@keyframes subtleGlow {
  0% {
    filter: drop-shadow(0 0 4px rgba(255, 120, 206, 0.2));
  }

  50% {
    filter: drop-shadow(0 0 8px rgba(255, 155, 211, 0.6));
  }

  100% {
    filter: drop-shadow(0 0 4px rgba(255, 120, 185, 0.2));
  }
}

.modal {
  width: 500px;
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translateX(-50%);
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 10;        /* above objects */
}