/* In src/index.css or similar file */
@font-face {
  font-family: 'mc'; /* Choose a name for your font */
  src: url('./fonts/Minecraft.ttf') format('truetype'); /* Include other formats for compatibility */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mc-regular'; /* Choose a name for your font */
  src: url('./fonts/MinecraftRegular.otf') format('opentype'); /* Include other formats for compatibility */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #130c25;
  font-family: "mc-regular";
  letter-spacing: 0.1em;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.room {
  position: relative;
  width: 900px;
  margin: 100px;
}

.room img {
  display: block;
}

.game-object {
  /* outline: 2px solid red; */
  position: absolute;
  cursor: pointer;
}

.game-object img {
  width: 100%;
  transition: transform 0.2s ease, filter 0.2s ease;
  animation: subtleGlow 1.5s ease-in-out infinite;
}

.game-object:hover img {
  animation: none;
  transform: scale(1.15);
  filter: drop-shadow(0 0 14px rgb(255, 129, 215));
}

@keyframes subtleGlow {
  0% {
    filter: drop-shadow(0 0 4px rgba(255, 120, 206, 0.2));
  }

  50% {
    filter: drop-shadow(0 0 8px rgba(255, 155, 211, 0.6));
  }

  100% {
    filter: drop-shadow(0 0 4px rgba(255, 120, 185, 0.2));
  }
}

.modal {
  position: absolute;
  top: 10%;
  left: 55%;
  /* background-color: rgba(255, 197, 248, 0.2); semi-transparent overlay color */
  backdrop-filter: blur(10px); /* this is the “Gaussian blur” effect */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  z-index: 1000; /* make sure it's above content */
  transform: translateX(-50%);
  padding: 0.05rem;
  border-radius: 8px;
}